<%= form_with(model: reeldatum, local: true) do |form| %>
  <% if reeldatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reeldatum.errors.count, "error") %> prohibited this reeldatum from being saved:</h2>

      <ul>
      <% reeldatum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
